.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $gutter;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

@for $col from 1 through 12 {
  @if ($col > 1) {
    .cell-start-#{$col} {
      grid-column-start: $col;
    }
  }
}

@each $breakpoint, $width in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @for $col from 1 through 12 {
      .cell#{breakpoint-infix($breakpoint, $width)}-#{$col} {
        grid-column-end: span $col;
      }
    }
  }
}
