.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.pt-70 {
  padding-top: 70px;
}

.mw-80 {
  max-width: 80%;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-100 {
  margin-bottom: 100px;
}

.font-size-1-125 {
  font-size: 1.125rem;
}

.font-size-1-2 {
  font-size: 1.2rem;
}

.font-size-1-25 {
  font-size: 1.25rem;
}

.font-size-1-75 {
  font-size: 1.75rem;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-2-25 {
  font-size: 2.25rem;
}

@include media-breakpoint-up(qs) {
  .d-qs-block {
    display: block !important;
  }

  .d-qs-flex {
    display: flex !important;
  }

  .px-qs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .mb-qs-2 {
    margin-bottom: 0.5rem !important;
  }
}

@include media-breakpoint-up(sm) {
  .font-size-sm-2-25 {
    font-size: 2.25rem;
  }
}

@include media-breakpoint-up(md) {
  .position-md-static {
    position: static;
  }

  .flex-grow-md-2 {
    flex-grow: 2 !important;
  }
}
